@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.gradient-text{
    background: linear-gradient(
        to right,
        #88aae4,
        #88aae4,
        #4982de,
        #246ce0,
        #246ce0,
        #4982de,
        #88aae4,
        #88aae4

    );
    background-size: 300% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-background{
    background: linear-gradient(
        to right,
        #88aae4,
        #88aae4,
        #4982de,
        #246ce0,
        #246ce0,
        #4982de,
        #88aae4


    );
    background-size: 300% 300%;

}



@layer utilities {
    @keyframes colorwave {
        0% {
            background-position: 300% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .animate-colorwave{
        animation: colorwave 6s linear infinite;
    }
    @keyframes show {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes move {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .animate-move {
        view-timeline: --move cover 100px;
        opacity: 0;
        animation: move 0.7s ease-out forwards;
    }
    .animate-move:nth-child(1) { animation-delay: 0.4s; }
    .animate-move:nth-child(2) { animation-delay: 0.5s; }
    .animate-move:nth-child(3) { animation-delay: 0.6s; }
    .animate-move:nth-child(4) { animation-delay: 0.7s; }
    .animate-move:nth-child(5) { animation-delay: 0.8s; }
}

.fading-img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 15% cover 50% ;
    animation-fill-mode: both;
}